@use './base.scss';
@use './table.scss';
@use './forms.scss';

.app-title h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}