$small-screen-breakpoint: 768px;
$large-screen-breakpoint: 1024px;


@mixin small {
    @media (max-width: calc($small-screen-breakpoint - 1px)) {
        @content;
    }
}

@mixin medium {
    @media (min-width: $small-screen-breakpoint) and (max-width: calc($large-screen-breakpoint - 1px)) {
        @content;
    }
}

@mixin large {
    @media (min-width: $large-screen-breakpoint) {
        @content;
    }
}
